<div>    
    <div class="panel-side left-div">
        <h1>
            Sim <span class="grey">+{{simRate | number : 2 }}/second</span>
            <br />
            {{sim | round:'':'down'}} 
            <br />
            <span class="add-info">
                <span class="birth">Birth rate: {{birthRate | number : 2 }}</span>
                <br />
                <span class="death">Death rate: {{deathRate | number : 2 }}</span>
                <br />
                <span>Income rate: {{incomeRate | number : 2 }}/sim</span>
            </span>
        </h1>

        <h1>
            Zenny 
            <span class="grey">+{{zennyRate | number : 2}}/second</span>
            <br />
            {{zenny | number : 2 }}
        </h1>

        <h1 ng-hide="house==0">
            House 
            <span class="grey">+{{houseRate | number : 2}}/second</span>
            <br />
            {{house | number : 2 }}
        </h1>

        <h1 ng-hide="hamlet==0">
            Hamlet 
            <span class="grey">+{{hamletRate | number : 2}}/second</span>
            <br />
            {{hamlet | number : 2 }}
        </h1>

        <h1 ng-hide="village==0">
            Village 
            <span class="grey">+{{villageRate | number : 2}}/second</span>
            <br />
            {{village | number : 2 }}
        </h1>

    </div>
    <canvas id="canvas" width=358 height=476>
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div class="panel-side right-div">
        <div>
            <div class="build-title">                        
                <b>Hamlet ({{hamlet}})</b>
            </div>
            <div class="build-price">                    
                Cost {{hamletHPrice | number : 0 }} House, {{hamletZPrice | number : 2 }} Zenny, and {{hamletSPrice}} Sim.
            </div>
            <div class="build-info">
                Each hamlet increase birth rate by 10 and increase death rate by 5%.
            </div>
            <div class="build-btns">
                <button ng-disabled="checkBuy('hamlet', 1)" ng-click="buy('hamlet', 1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuy('hamlet', haHamlet)" ng-click="buy('hamlet', 2)" type="button" class="btn btn-outline-primary">Buy {{haHamlet}}</button>
                <button ng-disabled="checkBuy('hamlet', fHamlet)" ng-click="buy('hamlet', 3)" type="button" class="btn btn-outline-primary">Buy {{fHamlet}}</button>
            </div>
            <div class="build-input">
                <input ng-model="iHamlet" ng-init="iHamlet=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuy('hamlet', iHamlet)" ng-click="buy('hamlet', 4)" type="button" class="btn btn-outline-primary">Buy {{iHamlet}}</button>        
                <hr>
            </div>
        </div>
        <div ng-hide="hamlet==0">
            <div class="build-title">
                <b>Mill ({{mill}})</b>
            </div>
            <div class="build-price">
                Cost {{millZPrice | number : 2}} Zenny.
            </div>
            <div class="build-info">
                Each mill increase income per sim by 0.05 and increase death rate by 5%.
            </div>
            <div class="build-btns">                                            
                <button ng-disabled="checkBuy('mill', 1)" ng-click="buy('mill', 1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuy('mill', haMill)" ng-click="buy('mill', 2)" type="button" class="btn btn-outline-primary">Buy {{haMill}}</button>
                <button ng-disabled="checkBuy('mill', fMill)" ng-click="buy('mill', 3)" type="button" class="btn btn-outline-primary">Buy {{fMill}}</button>
            </div>
            <div class="build-input">                                            
                <input ng-model="iMill" ng-init="iMill=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuy('mill', iMill)" ng-click="buy('mill', 4)" type="button" class="btn btn-outline-primary">Buy {{iMill}}</button>                
            </div>
        </div>
        <div ng-hide="hamlet==0">
            <div class="build-title">                        
                <b>Church ({{church}})</b>
            </div>
            <div class="build-price">
                Cost {{churchZPrice | number : 2 }} Zenny.
            </div>
            <div class="build-info">                        
                    Each church help each hamlet to build a 0.1 house every second.
            </div>  
            <div class="build-btns">
                <button ng-disabled="checkBuy('church', 1)" ng-click="buy('church', 1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuy('church', haChurch)" ng-click="buy('church', 2)" type="button" class="btn btn-outline-primary">Buy {{haChurch}}</button>
                <button ng-disabled="checkBuy('church', fChurch)" ng-click="buy('church', 3)" type="button" class="btn btn-outline-primary">Buy {{fChurch}}</button>
            </div>
            <div class="build-input">                        
                <input ng-model="iChurch" ng-init="iChurch=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuy('church', iChurch)" ng-click="buy('church', 4)" type="button" class="btn btn-outline-primary">Buy {{iChurch}}</button>        
                <hr>
            </div>
        </div>
    </div>  
</div>