<div>    
    <div class="panel-side left-div">
        <h1>
            Sim <span class="grey">+{{simRate | number : 2 }}/second</span>
            <br />
            {{sim | round:'':'down'}} 
            <br />
            <span class="add-info">
                <span class="birth">Birth rate: {{birthRate | number : 2 }}</span>
                <br />
                <span class="death">Death rate: {{deathRate | number : 2 }}</span>
                <br />
                <span>Income rate: {{incomeRate | number : 2 }}/sim</span>
            </span>
        </h1>

        <h1>
            Zenny 
            <span class="grey">+{{zennyRate | number : 2}}/second</span>
            <br />
            {{zenny | number : 2 }}
        </h1>

        <h1 ng-hide="house==0">
            House 
            <span class="grey">+{{houseRate | number : 2}}/second</span>
            <br />
            {{house | number : 2 }}
        </h1>

        <h1 ng-hide="hamlet==0">
            Hamlet 
            <span class="grey">+{{hamletRate | number : 2}}/second</span>
            <br />
            {{hamlet | number : 2 }}
        </h1>

        <h1 ng-hide="village==0">
            Village 
            <span class="grey">+{{villageRate | number : 2}}/second</span>
            <br />
            {{village | number : 2 }}
        </h1>

    </div>
    <canvas id="canvas" width=358 height=476>
        Your browser does not support the HTML5 canvas tag.
    </canvas>
    <div class="panel-side right-div">
        <div>
            <div class="build-title">                        
                <b>Hamlet ({{hamlet}})</b>
            </div>
            <div class="build-price">                    
                Cost {{hamletHPrice | number : 0 }} House, {{hamletZPrice | number : 2 }} Zenny, and {{hamletSPrice}} Sim.
            </div>
            <div class="build-info">
                Each hamlet increase birth rate by 10 and increase death rate by 5%.
            </div>
            <div class="build-btns">
                <button ng-disabled="checkBuy('hamlet', 1)" ng-click="buy('hamlet', 1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuy('hamlet', haHamlet)" ng-click="buy('hamlet', 2)" type="button" class="btn btn-outline-primary">Buy {{haHamlet}}</button>
                <button ng-disabled="checkBuy('hamlet', fHamlet)" ng-click="buy('hamlet', 3)" type="button" class="btn btn-outline-primary">Buy {{fHamlet}}</button>
            </div>
            <div class="build-input">
                <input ng-model="iHamlet" ng-init="iHamlet=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuy('hamlet', iHamlet)" ng-click="buy('hamlet', 4)" type="button" class="btn btn-outline-primary">Buy {{iHamlet}}</button>        
                <hr>
            </div>
        </div>
        <div ng-hide="hamlet==0">
            <div class="build-title">                        
                <b>Church ({{church}})</b>
            </div>
            <div class="build-price">
                Cost {{farmZPrice | number : 2 }} Zenny.
            </div>
            <div class="build-info">                        
                    Each church increase the income for each sim by 0.1 and decrease birth rate for each hamlet by 20%.
            </div>  
            <div class="build-btns">
                <button ng-disabled="checkBuyFarm(1)" ng-click="buyFarm(1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuyFarm(haFarm)" ng-click="buyFarm(2)" type="button" class="btn btn-outline-primary">Buy {{haFarm}}</button>
                <button ng-disabled="checkBuyFarm(fFarm)" ng-click="buyFarm(3)" type="button" class="btn btn-outline-primary">Buy {{fFarm}}</button>
            </div>
            <div class="build-input">                        
                <input ng-model="iFarm" ng-init="iFarm=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuyFarm(iFarm)" ng-click="buyFarm(4)" type="button" class="btn btn-outline-primary">Buy {{iFarm}}</button>        
                <hr>
            </div>
        </div>
        <div ng-hide="church==0">
            <div class="build-title">
                <b>Mill ({{mill}})</b>
            </div>
            <div class="build-price">
                Cost {{barnZPrice | number : 2}} Zenny.
            </div>
            <div class="build-info">
                Each mill incrase birth rate for each hamlet by 10%.
            </div>
            <div class="build-btns">                                            
                <button ng-disabled="checkBuyBarn(1)" ng-click="buyBarn(1)" type="button" class="btn btn-outline-primary">Buy 1</button>
                <button ng-disabled="checkBuyBarn(haBarn)" ng-click="buyBarn(2)" type="button" class="btn btn-outline-primary">Buy {{haBarn}}</button>
                <button ng-disabled="checkBuyBarn(fBarn)" ng-click="buyBarn(3)" type="button" class="btn btn-outline-primary">Buy {{fBarn}}</button>
            </div>
            <div class="build-input">                                            
                <input ng-model="iBarn" ng-init="iBarn=1" type="text" value="1" ng-pattern="/^[0-9]*$/">
                <button ng-disabled="checkBuyBarn(iBarn)" ng-click="buyBarn(4)" type="button" class="btn btn-outline-primary">Buy {{iBarn}}</button>                
            </div>
        </div>
    </div>  
</div>